Packages/
ServerPackages/
DevPackages/

.aftman/
aftman.toml.lock

# Build & distribution outputs
dist/
build/
out/

*.rbxl
*.rbxlx
sourcemap.json
.rojo/

.vscode/
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

*.swp
*.swo
netrw--

.luarc.json.lock
*.log
luau-analyze.json

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V1
.Spotlight-V100
.Trashes
